        #testimonials {
            p {
                margin-bottom: 1em
            }

            p span {
                color: _palette(accent2);
                font-weight: 400;
            }
        }